<div class="flex h-screen bg-[#0E0E0C] w-72	">
    <div class="w-72">
        <div class="flex items-center space-x-4 p-2 mb-5 bg-[#262626]">
            <img src="./efe7c8744138e4537f6e2cf73375e92d.png" alt="Logo" class="h-12 pl-5">
            <span class="text-white text-xl  font-serif text-lg">Big John's</span>
        </div>
        
        <nav>
            <NavLink class="flex items-center px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white" href="/">
                <img src="./image.png" class="h-5"/>
                <span class="mx-4 text-lg">Dashboard</span>
            </NavLink>
            <NavLink class="flex items-center px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white" href="/time-tracker">
                <img src="./Profile.png" class="h-5" />

                <span class="mx-4 text-lg">Punch In/Out</span>
            </NavLink>
            <NavLink class="flex items-center px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white" href="/employee-management">
                <img src="./Clock.png" class="h-5" />

                <span class="mx-4 text-lg">Employee Records</span>
            </NavLink>
            <NavLink class="flex items-center px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white" href="/inventory">
                <img src="./Inventory.png" class="h-5" />

                <span class="mx-4 text-lg">Add Inventory</span>
            </NavLink>
            <NavLink class="flex items-center px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white" href="/records">
                <img src="./lines.png" class="h-5" />

                <span class="mx-4 text-lg">Inventory Records</span>
            </NavLink>
            <NavLink class="flex items-center px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white" href="/settings">
                <img src="./Settings.png" class="h-5" />

                <span class="mx-4 text-lg">System Settings</span>
            </NavLink>
            <NavLink class="flex items-center px-4 py-3  text-gray-300 hover:bg-[#262626] hover:text-white" href="/">
                <img src="./Logout.png" class="h-5" />

                <span class="mx-4 text-lg">Logout</span>
            </NavLink>
        </nav>
    </div>
</div>