@page "/email"
@using System.Net.Mail
<h3>Email</h3>
<button @onclick="SendEmail">email</button>
<p>@Message</p>
@code {
	private string Message { get; set; } = "";
	private void SendEmail()
	{
		try
		{
			using (MailMessage mail=new MailMessage())
			{
				mail.From = new MailAddress("hartajmann459@gmail.com");
				mail.To.Add("beneficialghost18@gmail.com");
				mail.Subject = "Test Email";
				mail.Body = "This is a test email";	
				mail.IsBodyHtml = true;	
				using (SmtpClient smtp=new SmtpClient("smtp.gmail.com", 587))
				{
					smtp.Credentials = new System.Net.NetworkCredential("hartajmann459@gmail.com", "iydzjzwhtlxzxvec");
					smtp.EnableSsl = true;
					smtp.Send(mail);
					Message= "Email Sent Successfully";
				}
			}

		}
		catch (Exception ex)
		{
			Message = ex.Message;
		}
	}
}
